name: Deploy MC Bank Infra
on:
  workflow_dispatch:
    inputs:
      logDebug:
        type: choice
        description: TF_LOG debug level
        options:
        - TRACE
        - 'OFF'
        required: true
        default: 'OFF'

jobs:
  Deploy:
    name: Deploy Terraform
    runs-on: ubuntu-latest
    environment: prod
    env:
      SNOWFLAKE_ACCOUNT: ${{ secrets.snowflake_account }}
      SNOWFLAKE_REGION: ${{ secrets.snowflake_region }}
      SNOWFLAKE_USER: ${{ secrets.snowflake_user }}
      SNOWFLAKE_PASSWORD: ${{ secrets.snowflake_password }}
    defaults:
      run:
        shell: bash
        working-directory: ./
    concurrency: infra-deploy
    permissions:
      id-token: write # required to use OIDC authentication
      contents: read # required to checkout the code from the repo

    steps:
    - uses: actions/checkout@v3

    - name: Install Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Initialize Terraform
      run: |
        terraform init

    - name: Format terraform
      run: terraform fmt -check

    - name: Validate terraform
      run: terraform validate

    - name: Apply terraform
      run: |
        terraform apply -auto-approve
